/* Any code specifying position and size of page "mainpage" here */
body {
    background-color:whitesmoke;
    color: black; 
    margin-left: 20px;
}
#headerHS1 { 
    color: black; font-style: normal;
    text-align: center;
}
#labelHS1{
    color: black;
}
#inputHS1{
    width: 200px;
    height: 25px;
    margin: 0;
    cursor: pointer;
}